.button-59 {
  align-items: center;
  background-color: white;
  border: 2px solid #000;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 0 #91C8E4;

  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  margin-right: 40px;
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: #91C8E4;
  color: #91C8E4;
/*   fill: green; */
}

.button-59:active {
  border-color: black;
  color: black;
  /* fill: green; */
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}

.button-60 {
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 20px;
    box-shadow: 0 0 0 #91C8E4;

    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
  }
  
  .button-60:focus {
    color: #171e29;
  }
  
  .button-60:hover {
    border-color: #91C8E4;
    color: #91C8E4;
    /* fill: peru; */
  }  
  
  .button-60:active {
    border-color: white;
    color: white
    /* fill: peru; */
  }
  
  @media (min-width: 768px) {
    .button-60 {
      min-width: 170px;
    }
  }
  
  