.macbook-air {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.macbook-air .overlap-group-wrapper {
    background-image: url(w.png);
    background-position: 50% 50%;
    width: 100%;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
}

body {
    margin: 0;
    padding: 0;
  }
  
  .macbook-air .overlap-group {
    position: relative;
    width: 663px;
    height: 449px;
    top: 191px;
    left: 308px;
    background-color: #ffffff96;
    border-radius: 30px;
    border: 1px solid;
    border-color: #ffffff03;
    backdrop-filter: blur(9.2px) brightness(100%);
    -webkit-backdrop-filter: blur(9.2px) brightness(100%);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;

}
  
.macbook-air .overlap {
    position: absolute;
    width: 112px;
    height: 44px;
    top: 351px;
    left: 276px;
    border-radius: 30px;
}

.macbook-air .rectangle {
    position: absolute;
    width: 112px;
    height: 44px;
    top: 0;
    left: 0;
    background-color: #ffffff57;
    border-radius: 30px;
    border: 1px solid;
    border-color: #ffffff1a;
    -webkit-backdrop-filter: blur(8px) brightness(100%);
    backdrop-filter: blur(8px) brightness(100%);
}

.macbook-air .text-wrapper {
    position: absolute;
    width: 48px;
    top: 8px;
    left: 32px;
    font-family: "DM Mono-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-air .div {
    position: absolute;
    width: 586px;
    height: 16px;
    top: 79px;
    left: 51px;
}

.macbook-air .p {
    position: absolute;
    top: 0;
    left: 3px;
    font-family: "Century Schoolbook-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
    height: 20px;
    padding-top: 3px;
}

.macbook-air .line {
    position: absolute;
    width: 586px;
    height: 0.5px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.macbook-air .text-wrapper-2 {
    position: absolute;
    top: 40px;
    left: 50px;
    font-family: "Century Schoolbook-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.macbook-air .div-wrapper {
    position: absolute;
    width: 86px;
    height: 18px;
    top: 52px;
    left: 156px;
    background-color: #ff0000;
    border-radius: 50px;
}
.macbook-air .div-wrapper-two {
    position: absolute;
    width: 86px;
    height: 18px;
    top: 52px;
    left: 233px;
    background-color: #ff0000;
    border-radius: 50px;
}

.macbook-air .text-wrapper-3 {
    position: absolute;
    top: 0;
    left: 16px;
    font-family: "Inter-Italic", Helvetica;
    font-weight: 400;
    font-style: italic;
    color: #000000;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-air .overlap-2 {
    position: absolute;
    width: 564px;
    height: 54px;
    top: 201px;
    left: 50px;
    background-color: #ffffff;
    border-radius: 20px;
}

.macbook-air .text-wrapper-4 {
    position: absolute;
    top: 9px;
    left: 34px;
    opacity: 0.4;
    font-family: "Segoe UI-Italic", Helvetica;
    font-weight: 400;
    font-style: italic;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}
input::placeholder{
    font-family: "Segoe UI-Italic", Helvetica;
    font-weight: 400;
    font-style: italic;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-air .text-wrapper-4-two {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
}


.macbook-air .radio-2 {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 100px;
    border: 3px solid;
    border-color: #5470ff;
    box-shadow: 0px 3px 5px #2d2d4214;
}

.macbook-air .radio {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 100px;
    border: 1px solid;
    border-color: #d9d9d9;
    box-shadow: 0px 3px 5px #2d2d4214;
}

.macbook-air .radio-with-label {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    position: relative;
    flex: 0 0 auto;
}

.macbook-air .radio-button-group {
    display: flex;
    flex-direction: column;
    width: 260px;
    align-items: flex-start;
    gap: 16px;
    position: absolute;
    top: 137px;
    left: 83px;
}

.macbook-air .selected .radio {
    border: 3px solid;
    border-color: #5470ff;
}


.macbook-air .divtwo {
    position: absolute;
    top: 85px;
    left: 50px;
    font-family: "Century Schoolbook-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    letter-spacing: 0; 
    line-height: normal;
}

.macbook-air .linetwo {
    position: absolute;
    width: 586px;
    height: 1px;
    top: 78px;
    left: 50px;
    object-fit: cover;
}

.macbook-air .text-wrapper-seven {
    position: absolute;
    top: 8px;
    left: 20px;
    font-family: "DM Mono-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    }

    .macbook-air .div-wrapper-seven {
        position: absolute;
        width: 86px;
        height: 18px;
        top: 55px;
        left: 326px;
        background-color: #fff400;
        border-radius: 50px;
        }

        .macbook-air .rectangle-2-seven {
            position: absolute;
            width: 562px;
            height: 196px;
            top: 126px;
            left: 50px;
            background-color: #ffffff;
            border-radius: 20px;
            border-color: transparent;
            }

            textarea::placeholder{
                opacity: 0.5;
                font-size: 10px;
                text-align: center;
            }

            .macbook-air .text-wrapper-3-seven{
                position: absolute;
                width: 53px;
                top: 0;
                left: 16px;
                font-family: "Inter-Italic", Helvetica;
                font-weight: 400;
                font-style: italic;
                color: #000000;
                font-size: 13px;
                letter-spacing: 0;
                line-height: normal;
                }
                

                .rectangle-2-seven {
                    resize: none; /* This will remove the arrow of expanding */
                    overflow: auto; /* This will add a scrollbar when the text can't fit in */
                    border-color: transparent; /* This will make the border transparent */
                    outline: none; /* This will remove the outline when the textarea is focused */
                    padding: 4px 4px 4px 4px;
                }
                .rectangle-2-seven::-webkit-scrollbar {
                    width: 10px; /* This will make the scrollbar sleek */
                }
                .rectangle-2-seven::-webkit-scrollbar-thumb {
                    background: #888; /* This will change the color of the scrollbar */
                }
                .rectangle-2-seven::-webkit-scrollbar-thumb:hover {
                    background: #555; /* This will change the color of the scrollbar when hovered */
                }